.download-box {
    border-radius: 5px;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 10% auto;
    background-color: var(--Containerbg);
    ;

}

.allqrcards {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 4rem;
}

.qrcard {
    border-radius: 10px;
    width: 80%;
    margin: 1rem;
}

.qrcard img {
    margin-top: 1rem;
    width: 50%;
}

.qrcard button {
    width: 50%;
    padding: 12px;
    display: flex;
    gap: 10%;
    justify-content: center;
    margin:  auto;
    font-size: 1rem;
    color: white;
    background-color: var(--buttons);
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.qrcardTitle {
    color: black;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    margin-top: 5%;
    margin-bottom: 10%;
    font-weight: bold;
}

@media only screen and (max-width: 768px){
    .download-box{
        width: 90%;
    }
    .allqrcards{
        flex-direction: column;
    
    }
}